.header {
  display: flex;
  align-items: center;
  margin-left: 390px;
  margin-top:10px;
  font-size: 30px;
}

.logo {
  width: 60px; 
  height: 60px;
  margin-left: 10px; 
}
.title-prompt{
margin-left: 80px;
font-family: Arial, Helvetica, sans-serif;
}
.top-line{

border-top: 3px solid rgb(0, 0, 0);
height: 3px;
width: 100%;
margin-top: 80px;
}
.bottom-line{
  border-top: 3px solid rgb(0, 0, 0);
height: 3px;
width: 100%;
margin-top: 190px;
}
.timeleft-prompt{
  margin-left:550px;
  font-family: Arial, Helvetica, sans-serif;
  
}
#timer{
  margin-left: 700px;
  margin-top:50px;
  font-size: 50px;

}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Back-btn, .Confirm-btn {
  padding: 10px 20px;
  color: #fff; 
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin: 0 10px; /* Add space between buttons */
}

.Back-btn {
  background-color: #d31919; /* Red color for cancel button */
}
.Back-btn:hover{
  background-color: #ff0101;
}
.Confirm-btn{
    background-color: #4CAF50; 
}
.Confirm-btn:hover{
    background-color: #39ff35;
    
}
