.image-container {
  display: flex;
  justify-content: center;
  border: 5px solid #000;
}

.image-container img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.image-container p {
  font-size: 65px;
  color: #000000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-boxes {
  /* display: flex; */
  
  font-size: 45px;
  color: #000000;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  flex: 1;
}

.text-box-container {
  /* display: flex; */
  align-items: center;
  font-size: 45px;
  color: #000000;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  flex: 1;
}

.boxes {
  width: 300px;
  height: 45px;
  margin-left:2px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  background-color: #d31919;;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.back-button:hover{
  background-color: #ff0101;
}

.edit-button,
.confirm-button {
  background-color:  #4CAF50;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.edit-button,
.confirm-button:hover {
  background-color: #39ff35;
}

body {
  background-image: url("UserProfileBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
